.about-us-team8 {
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.about-us-max-width {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-section-title1 {
  width: auto;
  align-self: flex-start;
  border-color: #4a256a;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.about-us-column {
  gap: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-shrink: 0;
}
.about-us-text10 {
  font-style: italic;
  font-weight: 400;
}
.about-us-text12 {
  padding-top: var(--dl-space-space-twounits);
}
.about-us-slider {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
}
.about-us-slider-slide1 {
  display: flex;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
}
.about-us-card1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-placeholder-image1 {
  width: var(--dl-size-size-xxlarge);
  align-self: center;
}
.about-us-content1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-title1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-social-icons1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.about-us-link {
  display: contents;
}
.about-us-icon10 {
  text-decoration: none;
}
.about-us-card2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-content2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-title2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-social-icons2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.about-us-slider-slide2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: none;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.about-us-card3 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-content3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-title3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-social-icons3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.about-us-card4 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-content4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-title4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-social-icons4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.about-us-card5 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-content5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-title5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-social-icons5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.about-us-slider-pagination {
  display: none;
}
.about-us-slider-button-prev {
  display: none;
}
.about-us-slider-button-next {
  display: none;
}
.about-us-section-title2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-button {
  width: 100%;
  max-width: 300px;
  text-decoration: none;
}
.about-us-fragment10 {
  display: contents;
}
.about-us-text30 {
  display: inline-block;
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: left;
}
.about-us-fragment11 {
  display: contents;
}
.about-us-text31 {
  display: inline-block;
  text-align: center;
}
.about-us-fragment12 {
  display: contents;
}
.about-us-text32 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.about-us-fragment13 {
  display: contents;
}
.about-us-text33 {
  display: inline-block;
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.about-us-fragment14 {
  display: contents;
}
.about-us-text34 {
  display: inline-block;
  overflow: auto;
  max-height: auto;
  text-align: left;
}
.about-us-fragment15 {
  display: contents;
}
.about-us-text35 {
  display: inline-block;
  text-align: center;
}
.about-us-fragment16 {
  display: contents;
}
.about-us-text36 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.about-us-fragment17 {
  display: contents;
}
.about-us-text37 {
  display: inline-block;
  text-align: center;
}
.about-us-fragment18 {
  display: contents;
}
.about-us-text38 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.about-us-fragment19 {
  display: contents;
}
.about-us-text39 {
  display: inline-block;
  padding-left: var(--dl-space-space-unit);
}
.about-us-fragment20 {
  display: contents;
}
.about-us-text40 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.about-us-fragment21 {
  display: contents;
}
.about-us-text41 {
  display: inline-block;
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: center;
}
.about-us-fragment22 {
  display: contents;
}
.about-us-text42 {
  display: inline-block;
  text-align: center;
}
.about-us-fragment23 {
  display: contents;
}
.about-us-text43 {
  display: inline-block;
  font-weight: 600;
}
.about-us-fragment24 {
  display: contents;
}
.about-us-text44 {
  display: inline-block;
}
.about-us-fragment25 {
  display: contents;
}
.about-us-text45 {
  display: inline-block;
  overflow: auto;
  max-height: var(--dl-size-size-medium);
  text-align: left;
}
.about-us-fragment26 {
  display: contents;
}
.about-us-text46 {
  display: inline-block;
  text-align: center;
}
@media(max-width: 991px) {
  .about-us-section-title1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .about-us-text12 {
    padding-top: unset;
  }
}
@media(max-width: 767px) {
  .about-us-column {
    width: 100%;
  }
  .about-us-text11 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .about-us-button {
    width: 100%;
  }
  .about-us-text39 {
    text-align: center;
  }
}
