<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sophisticated Nutritious Hawk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./values.css" rel="stylesheet" />
      <div class="values-container1 thq-section-padding">
        <div id="Values" class="values-container2 thq-section-max-width">
          <div class="values-section-title thq-flex-row">
            <div class="values-column thq-flex-column">
              <span class="thq-body-small">
                <span>A Cooperative Way of Working</span>
              </span>
              <h2 class="thq-heading-2 values-text11">
                <span>8bit Values</span>
              </h2>
            </div>
            <span class="values-text12 thq-body-small">
              <span>
                We are passionate about this way of working; our aim is to
                inspire you to be a champion of community-building and
                cooperative support.
              </span>
            </span>
          </div>
          <div class="values-container3 thq-section-max-width">
            <div class="values-tabs-menu1">
              <div class="values-tab-horizontal1">
                <div class="values-content1">
                  <h2>
                    <fragment class="values-fragment14">
                      <h2 class="values-text17 thq-heading-2">
                        Empowered &amp; Accountable
                      </h2>
                    </fragment>
                  </h2>
                  <span>
                    <fragment class="values-fragment13">
                      <span class="values-text16 thq-body-small">
                        autonomy, authority, enabled
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
              <div class="values-tab-horizontal2">
                <div class="values-content2">
                  <h2>
                    <fragment class="values-fragment22">
                      <h2 class="values-text25 thq-heading-2">
                        Put People First
                      </h2>
                    </fragment>
                  </h2>
                  <span>
                    <fragment class="values-fragment19">
                      <span class="values-text22 thq-body-small">
                        employee growth, happiness, and support
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
              <div class="values-tab-horizontal3">
                <div class="values-content3">
                  <h2>
                    <fragment class="values-fragment11">
                      <h2 class="values-text14 thq-heading-2">
                        Earn Respect &amp; Trust
                      </h2>
                    </fragment>
                  </h2>
                  <span>
                    <fragment class="values-fragment23">
                      <span class="values-text26 thq-body-small">
                        act with integrity and transparency
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
              <div class="values-tab-horizontal4">
                <div class="values-content4">
                  <h2>
                    <fragment class="values-fragment25">
                      <h2 class="values-text28 thq-heading-2">
                        Evolving &amp; Innovative
                      </h2>
                    </fragment>
                  </h2>
                  <span>
                    <fragment class="values-fragment16">
                      <span class="values-text19 thq-body-small">
                        embrace learning and growth
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="values-image-container1">
              <img
                alt="Data Cleansing Image"
                src="public/img_20201011_120505-1400w.jpg"
                class="values-image1 thq-img-ratio-16-9"
              />
            </div>
          </div>
          <div class="values-container4 thq-section-max-width">
            <div class="values-image-container2">
              <img
                alt="Data Cleansing Image"
                src="public/20230923_182003-1400w.jpg"
                class="values-image2 thq-img-ratio-16-9"
              />
            </div>
            <div class="values-tabs-menu2">
              <div class="values-tab-horizontal5">
                <div class="values-content5">
                  <h2>
                    <fragment class="values-fragment20">
                      <h2 class="values-text23 thq-heading-2">
                        Elevate our Communities
                      </h2>
                    </fragment>
                  </h2>
                  <span>
                    <fragment class="values-fragment10">
                      <span class="values-text13 thq-body-small">
                        mindfully choose our business and giving partners to
                        positively impact the world
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
              <div class="values-tab-horizontal6">
                <div class="values-content6">
                  <h2>
                    <fragment class="values-fragment18">
                      <h2 class="values-text21 thq-heading-2">
                        Excellence with Humility
                      </h2>
                    </fragment>
                  </h2>
                  <span>
                    <fragment class="values-fragment24">
                      <span class="values-text27 thq-body-small">
                        be exceptional and be humble
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
              <div class="values-tab-horizontal7">
                <div class="values-content7">
                  <h2>
                    <fragment class="values-fragment21">
                      <h2 class="values-text24 thq-heading-2">
                        Embrace an Ownership Mentality
                      </h2>
                    </fragment>
                  </h2>
                  <span>
                    <fragment class="values-fragment12">
                      <span class="values-text15 thq-body-small">
                        successes and challenges faced together
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
              <div class="values-tab-horizontal8">
                <div class="values-content8">
                  <h2>
                    <fragment class="values-fragment15">
                      <h2 class="values-text18 thq-heading-2">
                        Equity and Inclusion
                      </h2>
                    </fragment>
                  </h2>
                  <span>
                    <fragment class="values-fragment17">
                      <span class="values-text20 thq-body-small">
                        embrace diversity and lived experiences
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
